/*
*       Sections
*/

$primaryBackgroundColor: #000;
$primaryAccentColor: #69BEEE;

/*
*       Text
*/

$primaryTextColor: #fff;

$baseFontSize: 16px;
$baseFontSizeSmallR: 12px;


/*
*       Breakpoints
*/


$break-extra-small: 325px;
$break-small: 400px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;